<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.winni.photostream" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Photostream"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PhotoUpload"
            android:label="Photostream" >

        </activity>

        <activity android:name=".FullscreenActivity"
                  android:label="Photostream" >

        </activity>
        <meta-data
            android:name="PHOTOSTREAM_URL"
            android:value="http://141.100.70.65:8082" >

        </meta-data>


</application>
</manifest>